.shopFilter-categories,
.shopFilter-availability,
.shopFilter-sort {
	border: 1px gray solid;
	width: 300px;
    margin-bottom: 30px;
	
	
}

.shopFilter-categoriesHeading__title,
.shopFilter-sort__title,
.shopFilter-categoriesHeading__title {
	background-color: rgb(218, 211, 211);
	padding: 10px;
	font-size: 22px;
	
}

.checkbox {
	margin-right: 5px;
}

.column {
	margin: 10px;
	line-height: 30px;
}

.outofstock-label,
.instock-label {
	margin-right: 5px;
}

/* .shopFilter-container {
	width: 300px;
} */
