.cart {
	width: 100%;
	height: 100%;
}

.cart-title {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1.5px dotted rgb(91, 41, 22);
	width: 90%;
	margin: 30px auto;
	text-align: center;
	font-size: 30px;
	padding: 10px;
}

@media only screen and (min-width: 300px) {
	.cart-card-empty-bag {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.cart-card-map {
		margin-bottom: 30px;
	}
	.cart-card-row {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
	}

	.cart-card-product-image {
		height: 130px;
		width: 129px;
		margin-right: 20px;
	}

	.cart-card-product-context {
		width: 500px;
	}

	.cart-card-product-title {
		font-size: 12px;
		width: 100%;
	}

	.cart-card-product-wishlist {
		font-size: 12.5px;
		color: lightgray;
		cursor: pointer;
		transition: 0.3s;
	}

	.cart-card-product-wishlist:hover {
		color: gray;
	}

	.cart-card-product-qty-line-context {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	.cart-card-product-qty-line-context > p {
		margin-right: 12px;
	}

	.cart-card-checkout form {
		width: 100%;
		background-color: black;
		padding: 20px 20px;
		font-size: 14px;
	}

	.cart-card-checkout .cart-card-checkout-input {
		width: 100%;
		height: 50px;
		border: none;
		border-radius: 5px;
		padding: 10px;
		outline: none;
	}

	.cart-card-checkoutDiv {
		position: relative;
	}

	.cart-card-checkout-inputBtn {
		position: absolute;
		top: 10.5px;
		right: 10px;
		width: 20px;
		background-color: pink;
		border-radius: 40px;
		color: whitesmoke;
		border: none;
		height: 30px;
		width: 60px;
		text-align: center;
		outline: none;
		cursor: pointer;
	}

	.hr {
		border: 1px solid lightgray;
		height: 0.5px;
		width: 82%;
		margin: -10px auto 0px auto;
	}
	.cart-card-checkout-totalRow {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: auto;
		padding: 0px 30px;
	}

	.cart-card-checkout-totalRow-qty {
		font-size: 14px;
		margin-top: 25px;
	}
	.cart-card-checkout-totalRow-qtyPrice {
		font-size: 14px;
		margin-top: 25px;
		font-weight: bold;
	}

	.cart-card-checkout-total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.cart-card-checkout-totalRow-subtotal {
		font-size: 20px;
	}
	.cart-card-checkout-totalRow-subPrice {
		font-weight: bold;
		font-size: 20px;
	}

	.cart-card-checkout-payment {
		display: flex;
		justify-content: center;
		font-size: 14px;
		width: 100%;
		margin-top: 15px;
	}

	.cart-card-checkout-payOpt {
		background-color: rgb(240, 240, 240);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px 5px;
		margin-top: 15px;
		margin-bottom: 35px;
	}
	.cart-card-checkout-payOpt > p {
		font-size: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.cart-card-checkout-payOpt > div > span {
		padding: 0px 10px;
		cursor: pointer;
	}
}
