.pd-image {
    height: 300px;
    width: 200px;
}

.pd-wrapper {
    height: 400px;
    max-width: 90%;
    margin: auto;
    margin-top: 50px;
}

.reviews {
    display: flex;
    margin-top: 150px;
    margin-left: 20px;
}

.review-title{
    font-size: 20px;
    padding-right: 40px;
    margin-top: 10px;
    border-bottom: 1px black solid;
}

.reviewsBtn {
    margin-left: 20px;
}

.review-container {
    margin-top: 30px;
}



@media screen and (max-width: 650px) {
    .reviews {
    display: flex;
    margin-top: 80px;
    margin-left: 20px;
    }
}