img {
	width: 100%;
	height: 400px;
}
.hero {
	position: relative;
}

.heroBtn {
	position: absolute;
	padding: 16px;
	width: 200px;
	bottom: 35px;
	left: 790px;
	z-index: 1;
}

a,
a:hover {
	text-decoration: none;
	color: inherit;
}
