.heart:hover {
	color: rgb(222, 110, 128);
}

.heart {
	position: absolute;
	padding: 16px;
	width: 360px;
	bottom: 200px;
	left: 180px;
	z-index: 1;
}

.productCard-content {
	position: relative;
}

.productCard {
	margin: auto;
	width: 200px;
	height: 200px;
}

.productCard-item {
	padding: 40px;
}

.features-ratingRow {
	display: flex;
	padding: 10px;
}

.features-item-span i {
	color: gray;
}

.features-item-span span:hover,
.features-item-span i:hover {
	color: pink;
}
