.shop {
	width: 100%;
	height: 100%;
	right: 0;
}

.shop-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://images.pexels.com/photos/1115128/pexels-photo-1115128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=550&w=1260');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 200px;
}

.sp-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 80px;
	color: azure;
	font-weight: bold;
	font-family: serif;
	font-size: 50px;
}

.shop-results {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	padding: auto;
	justify-content: center;
	margin-left: -40px;
}

.shop-filter {
	display: none;
	width: 100%;
}

.shop-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.shop-content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.shop-content-wrapper .shop-select {
	display: flex;
	justify-content: center;
	margin-right: 30px;
	align-items: center;
	text-align: center;
	font-size: 17px;
	width: 100%;
	padding: 20px 10px 0px 0px;
}

.shop-select select {
	border: 1.5px solid lightpink;
	border-radius: 5px;
	color: pink;
	outline: none;
}

.shop-select__label {
	margin-right: 10px;
	margin-top: 5.5px;
	color: rgb(250, 167, 181);
}

@media screen and (min-width: 1024px) {
	.shop-image {
		height: 250px;
	}

	.shop-select {
		display: none;
	}

	.shop-filter {
		display: block;
		width: 300px;
		margin-top: 30px;
	}

	.shop-content-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}

	.shop-content-wrapper .shop-select {
		display: none;
	}

	.shop-content-wrapper {
		display: flex;
		padding: 30px;
		margin: auto;
	}

	.shop-content {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-left: 65px;
	}

	.shop-results {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 35px;
		width: 100%;
		margin-top: 30px;
	}
}

@media only screen and (max-width: 400px) {
	.shop-results {
		margin-left: 0px;
	}
}
