@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.nav-right {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.nav-right-item {
	margin-right: 20px;
}

nav {
	background-color: rgb(231, 204, 202);
	height: 70px;
	color: azure;
}

.nav-right::before {
	width: 0%;
	bottom: 10px;
}

.nav-right:hover::before {
	width: 100%;
}

.nav-collapse {
	background-color: rgb(231, 204, 202);
	width: 100wv;
}
.navbar-logo {
	font-size: 20px;
	color: azure;
}

.logo-title {
	font-size: 30px;
	font-family: arial;
}

.nav-right-item:hover {
	color: rgb(91, 41, 22);
}
