@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.navbar-header {
	background-color: black;
	color: azure;
	width: 100%;
	height: 30px;
	top: 0;
	overflow: hidden;
	position: relative;
}

.navbar-header p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	transform: translateX(100%);
	animation: navbar-header 10s linear infinite;
}

.navbar {
	min-height: 70px;
	z-index: 1;
	width: 100vw;
	background-color: rgb(231, 204, 202);
	position: relative;
	color: azure;
}

.nav-right {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.nav-right > div {
	margin-right: 10px;
}

.dropDownMenu {
	background-color: rgb(231, 204, 202);
	border-bottom-left-radius: 10px;
	width: 200px;
	height: 90px;
	position: absolute;
	top: 59px;
	right: -41px;
	display: flex;
	justify-content: center;
	font-size: 18px;
}

.dropDownMenu > button {
	position: absolute;
	right: 35%;
	margin-top: 30px;
	border-color: rgb(223, 146, 162);
	color: rgb(223, 146, 162);
}

.dropDownMenu > button:hover {
	background-color: white;
	color: rgb(231, 204, 202);
	border-color: white;
}

.nav-link {
	font-size: 20px;
	margin-left: 10px;
}

.nav-cart {
	width: 35px;
	height: 35px;
	color: rgb(223, 146, 162);
}

.nav-cart-length {
	position: absolute;
	font-size: 17px;
	left: 0;
	margin-top: 10px;
	margin-left: 12.5px;
}

.nav-collapse {
	background-color: inherit;
	width: 100%;
}

.logo-title {
	color: azure;
	font-size: 28px;
	margin-top: 8px;
	font-family: Arial, Helvetica, sans-serif;
}

.downArrow {
	color: rgb(223, 146, 162);
	margin-left: 5px;
}

.mobileIcon {
	color: azure;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25.5px;
}

@-moz-keyframes navbar-header {
	0% {
		-moz-transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%);
	}
}
@-webkit-keyframes navbar-header {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}
@keyframes navbar-header {
	0% {
		-moz-transform: translateX(100%); /* Firefox bug fix */
		-webkit-transform: translateX(100%); /* Firefox bug fix */
		transform: translateX(100%);
	}

	100% {
		-moz-transform: translateX(-100%); /* Firefox bug fix */
		-webkit-transform: translateX(-100%); /* Firefox bug fix */
		transform: translateX(-100%);
	}
}

@media only screen and (max-width: 992px) {
	.nav-right-icons {
		margin-top: 12px;
	}
	.dropDownMenu {
		background-color: transparent;
		width: 230px;
		height: 100px;
		position: absolute;
		top: 0;
		right: -41px;
	}

	.dropDownMenu > button {
		position: absolute;
		right: 45%;
		margin-top: 0;
		border-color: white;
		color: white;
		transition: 0.3s;
	}
	.dropDownMenu > button:hover {
		color: rgb(231, 204, 202);
		background-color: white;
		border-color: white;
	}
	.dropDownMenu-text {
		display: none;
	}
}
