.features {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 300px;
   
}

.featuresContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: auto;
    padding: 10px;
    width: 100%;

}

.features-image:hover {
    transform: scale(1.2);
    transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.features-price {
    color: rgb(95, 91, 91);
}

.features-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.features-image {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.features-name {
    margin-top: 10px;
    width: 200px;
    font-size: 16px;
}

.span {
    font-style: italic;
    height: 30px;
    font-weight: 100;
    margin-left: 8px;
}

@media screen and (max-width: 850px) {
    .features {
        margin-top: 150px;
    }

    .featuresContainer {
        width: 100%;
        overflow-x: scroll;
        scroll-behavior: smooth;
        margin: 0 auto;
        
    }
}