.features {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.best {
    display: flex;
    margin: auto;
    padding: 10px;
    
}

.best-image:hover {
    transform: scale(1.2);
    transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.best-price {
    color: gray;
}

.best-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best-image {
    width: 150px;
    height: 150px;
}


.best-name {
    margin-top: 10px;
    width: 200px;
    font-size: 15px;
}

.span {
    font-style: italic;
    
    font-weight: 100;
    margin-left: 8px;
}

body {
    font-family: 'Roboto', sans-serif;
}