.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 40px 0px;
	background-image: linear-gradient(
			rgba(154, 107, 107, 0.5),
			rgba(237, 165, 159, 0.68)
		),
		url('https://plus.unsplash.com/premium_photo-1674059169576-1519680709f9?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.login form {
	background-color: white;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 30px;
	z-index: 20;
}

.loginBtn {
	margin-bottom: 30px;
	font-size: 16px;
}

.login-title {
	color: white;
	text-align: center;
	margin-bottom: 30px;
}

.login input {
	width: 250px;
	margin-bottom: 25px;
	opacity: 1;
}

.member-span {
	color: rgb(102, 18, 42);
}

.member-span:hover {
	text-decoration: underline;
}
