.footer {
	background-image: linear-gradient(
			rgba(154, 107, 107, 0.5),
			rgba(237, 165, 159, 0.68)
		),
		url('https://images.unsplash.com/photo-1596462502278-27bfdc403348?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	color: black;
	padding-top: 20px;
	font-size: 15px;
	margin: auto;
	margin-top: 30px;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 10px;
	height: 300px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.footer-title {
	width: 290px;
	font-size: 30px;
	color: black;
}

@media only screen and (min-width: 600px) {
	.footer-title {
		width: 100px;
	}

	.footer {
		height: 300px;
		width: 100%;
	}
}

@media only screen and (min-width: 700px) {
	.footer-title {
		width: 250px;
	}
}
 @media screen and (max-width: 700px) {
	 .footer {
		width: 100%;
		font-size: 16px;
		display: flex;
		flex-wrap: wrap;
		bottom: 0;
		height: 500px;
	 }
	.footer-title {
		width: 200px;
	}
 }